# ignore files and data
**/*.json
**/*.csv
**/data/*.txt
**/*.svg
**/*.gif

# ignore fortran binaries
**/build/
**/*.mod

# ignore R artifacts
**/*.RDS
**/*.Renviron
**/*.Renviron
**/*.Rhistory
**/*.Rproj
**/*.RData
**/.DS_Store
**/*.httr-oauth

# ignore python and jupyter artifacts
**/*.ipynb_checkpoints
**/*.pkl
**/*.env_variables.yaml
**/py-env/
**/__pycache__/
**/*.pyc
**/*.cpython*

# ignore python packages and VSCode artifacts
**/.mypy_cache/
**/.pytest_cache/
**/.vscode/
**/*.coverage
**/*egg-info
**/.hypothesis/