**/*.json
**/*.csv
**/*.RDS
**/*.Renviron
**/*.slackr


**/*.ipynb_checkpoints
**/*.Renviron
**/*.Rhistory
**/*.Rproj
**/*.RData
**/*.pkl
**/*.env_variables.yaml

**/catboost_info
**/py-env/
**/.DS_Store
**/__pycache__/
**/*.pyc

**/*.pyc
**/*.cpython*
**/*.httr-oauth

**/.mypy_cache/
**/.pytest_cache/
**/.vscode/
**/*.coverage
**/*egg-info